@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body{
  background: rgb(0,0,0);
  background: linear-gradient(150deg, rgba(0,0,0,0) 29%, rgba(70,187,255,0.39539565826330536) 100%);}

img{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */  
}

input{
  height: 40px;
  width: 80%;
  border-radius: 10px;
  border-color: #46bbff50;
  color: #399ad3;
  font-size: 30px;
  padding: 0 15px 0 15px;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Neucha', cursive;
  z-index: 0;
  position: relative;
}

.appContent{
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 30px 0 30px;
}

.header{
  width: 100%;
  height: 9em;
  display: flex;
  justify-content: center;
}

.header > .text{
  height: 100%;
  color: black;
  font-size: 65px;
  padding: 15px;
  margin-top: 10px;
}

.generalPanel, .generalPanel_counters{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TotalCounter{
  font-size: 30px;
  margin-right: 8px;
}