.modalBlur{
    filter: blur(8px);
    -moz-filter: blur(8px);
    -webkit-filter: blur(8px);
    -o-filter: blur(8px);
  }
  
  
.visible{
  opacity:1 !important;
}

.hidden{
  opacity:0 !important;
}